gcp_credentials = 
gcp_project_id = 
gcp_region = 
instance_parameters = {
  name         = 
  machine_type = 
  zone         = 
  image        = 
  network      = 
  ssh_user = 
  public_ssh_key_file_path = 
  private_ssh_key_file_path = 
  connection_type = 
  connection_user = 
  tags = 
}
instance_group_parameters = {
  name = 
  description = 
  zone = 
  named_port_name = 
  named_port = 
}
app_firewall_parameters = {
  name          = 
  direction     = 
  network       = 
  priority      = 
  source_ranges = 
  target_tags   = 
  allow_ports = 
  allow_protocol = 
}
health_check_firewall_parameters = {
  name          = 
  direction     = 
  network       = 
  priority      = 
  source_ranges = 
  target_tags   = 
  allow_ports = 
  allow_protocol = 
}
global_address_parameters = {
  name       = 
  ip_version = 
}
health_check_parameters = {
  name = 
  check_interval_sec = 
  healthy_threshold = 
  port = 
  port_specification = 
  proxy_header = 
  request_path = 
  timeout_sec = 
  unhealthy_threshold = 
}
backend_service_parameters = {
  name                            = 
  connection_draining_timeout_sec = 
  load_balancing_scheme           = 
  port_name                       = 
  protocol                        = 
  session_affinity                = 
  timeout_sec                     = 
  balancing_mode  = 
  capacity_scaler = 
}
url_map_name = 
target_http_proxy_name = 
global_forwarding_rule_parameters = {
  name                  = 
  ip_protocol           = 
  load_balancing_scheme = 
  port_range            = 
}
aws_parameters = {
  provider_region     = 
  provider_access_key = 
  provider_secret_key = 
  zone_name           = 
  record_name         = 
  record_type         = 
  record_ttl          = 
}
