gcp_credentials = 
gcp_project_id = 
gcp_region = 
app_instance_template_parameters = {
  name         = 
  machine_type = 
  image        = 
  network      = 
  ssh_user = 
  public_ssh_key_file_path = 
  tags = 
}